




.glyph-icon {
    -fx-font-family: "FontAwesome";
}

.root{
    -icons-color: #FF8C00;
    -top-icons-color: #FF8C00;
    -base-icons-color: #FF8C00;
}

.stack-base{
    -fx-fill: -base-icons-color;
}

.stack-top {
    -fx-fill: -top-icons-color;
}

.exit-button{
    -icons-color: gray;
}

.alien-button{
    -icons-color: yellowgreen;
}

.thumbs-up-icon{
    -glyph-name: "THUMBS_UP";
    -glyph-size: 6em;
}

.thumbs-down-icon{
    -glyph-name: "THUMBS_DOWN";
    -glyph-size: 6em;
}

.my-style {
    -glyph-size: 1.1em;
}